@import '~bootstrap/scss/bootstrap.scss';

.navbar-brand {
    float: left;
    // height: 50px;
    font-size: 18px;
    line-height: 20px;
    padding: 15px;
}

body {
    margin: 0;
    font-size: 12px;
    padding: 5px;
    padding-top: 80px;
}

.container {
    max-width: 800px;
}